<h1> Welceom To Home page</h1>
{% assign food = 'app2'  %}

<h3> my food is {{ food }} </h3>

{% if food == 'apple' %}
  <h1> it's {{ food }} </h1>
  {% elsif food == 'apple2' %}
  <h1> it's apple 2 </h1>
  {% else  %}
  <h1> it's not food </h1>
  
{%  endif %}


{% for i in (1..10) %}
        {{i}}
{%endfor%}

{% for collection in collections %}
    {%  for  product in collection.products %}
        <h1> {{ product.variants.first }} </h1>
      <img src={{ product | img_url }} width='80' height='80' />
      {% endfor %}
{% endfor %}


